* {
  margin: 0;  
  font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section {
    position: relative;
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
 
}

.row-1 {
    position: relative;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
     padding: 15px 15px;
     display: flex;
     gap: 20px;
}

.logo-container img { 
 max-width: 200px;
 object-fit: contain;

}


.product-details-container {
     display: flex;
     flex-direction: column;
     align-items: center;
    
    
}

.title {
   color: #434343;
   font-weight: 700;
   font-size: 35px;
   text-align: center;
}

.product-description {
     font-size: 22px;
      color: #434343;
      line-height: 1.3;
}

.link {
  list-style: none;
  text-decoration: none;
  color: #434343;
}

.link:hover {
color: #802C77;
}

.fw-bold {
     font-weight: 700;
}

.mt-35 {
     margin-top: 35px
}

.special-sign {
     font-size: 19px;
     position: relative;
     bottom: 12px;
}

.special-sign-sm {
     font-size: 19px;
     position: relative;
     bottom: 7px; 
}

.font-s {
    font-size: 13px;
}

.font-sm {
     font-size: 15px;
}

.font-m {
     font-size: 19px
}

.cta-btn {
     border: 0;
     padding: 16px 20px;
     background: #2E2E2E;
     color: white;
     border-radius: 40px;
     font-size: 20px;
     margin-top: 45px;
     margin-bottom: 12px;
     cursor: pointer;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;

}

.cta-btn:hover {
     background: #802C77;
     box-shadow: 0 5px 9px rgba(128, 44, 120, 0.3)
}

.btn-link {
      list-style: none;
      text-decoration: none;
}


.row-2 {
    position: relative;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-2 img {
    position: relative;
     height: 100%;
     max-height: 550px;
    z-index: 10;
}


.pink-section {
     margin-top: 80px;
     margin-bottom: 30px;
     width: 100%;
     padding: 50px 0;
     background: #802C77;
     display: grid;
     place-items: center;

}

.pink-section h3 {
     text-transform: uppercase;
     letter-spacing: 0.6px;
     text-align: center;
     color: white;
}

.footer-section { 
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin-bottom: 30px;
    padding-left: 40%;
}

.footer-row {
    display: flex;
    align-items:center;
    gap: 20px
}

.footer-text {
     max-width: 800px;
     line-height: 1.3;
     letter-spacing: 0.5px;
     color: #434343;

}

.move-left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
}

.footer-section img {
     max-width: 200px;
     object-fit: contain;
}

.privacy-policy {
   font-size: 17px;
   text-decoration: underline;
   cursor: pointer;
   margin: 15px 0;
}

@media (max-width: 1500px) {
     .row-2 {
          max-height: 460px;
     }

     .title {
           font-size: 22px
     }

     .product-description {
          font-size: 17px;
     }

     .logo-container img { 
          max-width: 160px;
          object-fit: contain;
         
         }
         .footer-section {
          padding-left: 0%;
     }
}


@media (max-width: 1200px) {
     .row-2 {
          max-height: 400px;
     }

     .title {
          font-size: 20px
    }

     .product-description {
          font-size: 15.7px;
     }

}

@media (max-width: 600px) {
     
     .hero-section  {
          margin-top: 100px;
     }

     .row-2 {
          max-height: 380px;
     }

     .logo-container img { 
          max-width: 170px;
          object-fit: contain;    
         }

      .title {
          font-size: 26px;
      } 
      
      .product-description {
          font-size: 18px;
     }

     .cta-btn {
           font-size: 17px
     }

     .footer-text {
           font-size: 15px
     }

     .footer-section img {
          max-width: 160px;
     }

     .footer-section {
         margin-bottom: 40px;
    }

    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
    }

    .pink-section h3 {
      font-size: 17px;
      line-height: 1.4
    }

    .special-sign {
      font-size: 16px
    }

    .special-sign-sm {
     font-size: 15px
   }
}


@media (max-width: 480px) {
     .row-2 {
          max-height: 350px;
     }

     .logo-container img { 
          max-width: 140px;
          object-fit: contain;
         
         }

         .title {
          font-size: 23px;

      } 
      
      .product-description {
          font-size: 14.5px;
     }

     .cta-btn {
          font-size: 15px
    }

    .font-m {
     font-size: 16px
}

.footer-text {
     font-size: 12.5px;
     line-height: 1.38;

}

.pink-section h3 {
     font-size: 15px;
     
   }

   .special-sign {
     font-size: 14px
   }

   .special-sign-sm {
     font-size: 13px
   }

}